N16IAF_1019/szemelyekN16IAF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/szemelyekN16IAF" xmlns:tns="http://www.example.org/szemelyekN16IAF" elementFormDefault="qualified">


<xs:element name="szemelyek">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="nev" type="xs:string"/>
			<xs:element name="kor" type="xs:int"/>
			<xs:element name="varos" type="xs:string"/>
		</xs:sequence>
		<xs:attribute id type="xs:int"/>
	</xs:complexType>
</xs:element>

</schema>